@model List<BusBoard.Api.Arrival>
@{
    ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
    
    
        <ul>
            @{ 
                foreach (var arrival in Model)
                {
                        <li> @arrival.ToString() </li>
                }
             }
        </ul>
    


</div>
